@import url('https://use.typekit.net/pfh4qwx.css');

$mainFont: Oswald;
$subFont: Montserrat;

$font-family-main: $mainFont, 'Helvetica', 'sans-serif';
$font-family-sub: $subFont , 'Helvetica', 'sans-serif';